player-connection-mode=Listen
player-connection-guid=2260370835
player-connection-debug=0
player-connection-project-name=Project TD
player-connection-ip=172.30.1.56
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=5389e7e9d5d642f2881e1c3636a258a4
